.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-details {
  display: flex;
  align-items: center;
}
.time {
  margin-right: 50px;
}
.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.title {
  font-family: 'roboto';
  font-size: 18px;
  color: #475569;
  font-weight: 500;
  margin-right: 10px;
}
.domain {
  font-family: 'roboto';
  font-size: 14px;
  color: #475569;
  margin-right: 10px;
}
.delete-btn {
  cursor: pointer;
  border: none;
  background-color: white;
}
